
<!DOCTYPE html>
<html>
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% if title %}
                <title>{{ title }} </title>
        {% else %}
                <title>No Title</title>
        {% endif %}
</head>
<body>
   <header class="site-header">
      <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'polls-home' %}">SLA TPA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
		{% if user.is_authenticated %}
         		<div class="collapse navbar-collapse" id="navbarToggle">
            		<div class="navbar-nav mr-auto">
              		<a class="nav-item nav-link" href="{% url 'polls-home' %}">Home</a>
             		<a class="nav-item nav-link" href="{% url 'SLAQuery' %}">PrologQuery</a>
			<a class="nav-item nav-link" href="{% url 'polls-about' %}">About</a>
            		</div>
            		<!-- Navbar Right Side -->
            		<div class="navbar-nav">
              		<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            		</div>
          		</div>
		{% endif %}
        </div>
      </nav>
  </header>
	<h2> &nbsp; </h2>
	<div class="container">	
		{% block content %}
		{% endblock %}
        </div>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
</body>
</html>






